@import url('https://fonts.googleapis.com/css?family=Concert+One');

html, body {
	margin:0px;
	padding:0px;
}

#title {
	font-family: 'Concert One', cursive;
	font-size: 50px;
	color: #fff;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
